p{
    font-family: Roboto;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.buy-button{
    margin-left: 48.5%;
    margin-top: 0;
    margin-bottom: 0;
}

.product-status{
    color: orange;
    font-weight: bold;
    margin-bottom: 5px;
}

.product-name{
    font-weight: bold;
    font-size: 32px;
}

.product-description{
    font-weight: bold;
    font-size: 64px;
    margin-bottom: 12px;
}

.product-price{
    margin-bottom: 10px;
}

.buy-button{
    font-weight: bold;
    color: white;
    background-color: rgb(0, 106, 255);
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 18px;
    transition: opacity 0.15s;
}

.buy-button:hover{
    cursor: pointer;
    opacity: 0.7;
}