.thumbnail{
    width: 100%;
}

.video-preview{
    width: 100%;
}

.video-preview:hover{
    cursor: pointer;
}

.channel-picture-section{
    margin-top: 12px;
}

.textual-video-info-section{
    margin-top: 12px;
    margin-left: 10px;
}

.channel-picture{
    width: 100%;
    border-radius: 50%;
}

.video-title{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

@media (mix-width: 1000px) {
    .video-title{
        font-size: 16px;
        line-height: 24px;
    }

    .channel-name, .video-info{
        font-size: 14px;
    }
}

.channel-name{
    margin-top: 8px;
    font-size: 12px;
    color: rgb(96, 96, 96);
    margin-bottom: 2px;
}

.video-info{
    font-size: 12px;
    color: rgb(96, 96, 96);
    margin-bottom: 16px;
}

.video-info-section{
    display: grid;
    grid-template-columns: 36px 1fr;
}

.video-previews{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 16px;
}

@media (max-width: 750px) {
    .video-previews{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 721) and (max-width: 999px){
    .video-previews{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .video-previews{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.video-time{
    font-family: Roboto, Arial;
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    font-weight: 500;
    color: white;
    border-radius: 2px;
}

.thumbnail-section{
    position: relative;
}